# Configuration file

car {
    # The height a car can drive up [range: 0.1 ~ 1.0, default: 0.6]
    S:car_step_height=0.6

    #  [range: 0.0 ~ 1.0, default: 0.1]
    S:car_volume=0.1

    # Whether the cars should collide with other entities (except cars) [default: false]
    B:collide_with_entities=false

    # Whether the cars should damage other entities on collision [default: true]
    B:damage_entities=true

    # Whether animals flee from the car when the horn is activted [default: true]
    B:horn_flee=true

    # A list of blocks the car can drive faster on (only if 'road_blocks_enabled' is set to true) [default: [car:tar], [car:tar_slab], [car:tar_slope_flat_upper], [car:tar_slope_flat_lower], [car:tar_slope]]
    S:road_blocks <
        car:tar
        car:tar_slab
        car:tar_slope_flat_upper
        car:tar_slope_flat_lower
        car:tar_slope
     >

    # Whether the cars drive slower on non road blocks [default: false]
    B:road_blocks_enabled=false

    # True if the car temperature should be displayed in farenheit [default: false]
    B:temp_farenheit=false

    #  [default: true]
    B:third_person_when_enter_car=true

    # True if starting the car should use battery [default: true]
    B:use_battery=true
}


car_parts {
    #  [range: 0.001 ~ 10.0, default: 0.032]
    S:car_3_cylinder_acceleration=0.032

    #  [range: 0.001 ~ 10.0, default: 0.6]
    S:car_3_cylinder_fuel_efficiency=0.6

    #  [range: 0.001 ~ 10.0, default: 0.2]
    S:car_3_cylinder_max_reverse_speed=0.2

    #  [range: 0.001 ~ 10.0, default: 0.5]
    S:car_3_cylinder_max_speed=0.5

    #  [range: 0.001 ~ 10.0, default: 0.04]
    S:car_6_cylinder_acceleration=0.04

    #  [range: 0.001 ~ 10.0, default: 0.25]
    S:car_6_cylinder_fuel_efficiency=0.25

    #  [range: 0.001 ~ 10.0, default: 0.2]
    S:car_6_cylinder_max_reverse_speed=0.2

    #  [range: 0.001 ~ 10.0, default: 0.65]
    S:car_6_cylinder_max_speed=0.65

    #  [range: 0.001 ~ 10.0, default: 0.95]
    S:car_body_big_wood_acceleration=0.95

    #  [range: 0.001 ~ 10.0, default: 0.7]
    S:car_body_big_wood_fuel_efficiency=0.7

    #  [range: 0.001 ~ 10.0, default: 0.85]
    S:car_body_big_wood_max_speed=0.85

    #  [range: 0.001 ~ 10.0, default: 1.0]
    S:car_body_sport_acceleration=1.0

    #  [range: 0.001 ~ 10.0, default: 0.9]
    S:car_body_sport_fuel_efficiency=0.9

    #  [range: 0.001 ~ 10.0, default: 1.0]
    S:car_body_sport_max_speed=1.0

    #  [range: 0.001 ~ 10.0, default: 0.8]
    S:car_body_suv_acceleration=0.8

    #  [range: 0.001 ~ 10.0, default: 0.6]
    S:car_body_suv_fuel_efficiency=0.6

    #  [range: 0.001 ~ 10.0, default: 0.7]
    S:car_body_suv_max_speed=0.7

    #  [range: 0.001 ~ 10.0, default: 0.8]
    S:car_body_transporter_acceleration=0.8

    #  [range: 0.001 ~ 10.0, default: 0.6]
    S:car_body_transporter_fuel_efficiency=0.6

    #  [range: 0.001 ~ 10.0, default: 0.765]
    S:car_body_transporter_max_speed=0.765

    #  [range: 0.001 ~ 10.0, default: 1.0]
    S:car_body_wood_acceleration=1.0

    #  [range: 0.001 ~ 10.0, default: 0.8]
    S:car_body_wood_fuel_efficiency=0.8

    #  [range: 0.001 ~ 10.0, default: 0.9]
    S:car_body_wood_max_speed=0.9
}


drops {
    #  [default: true]
    B:canola_seed_drop=true
}


items {

    repair_kit {
        #  [range: 0.1 ~ 100.0, default: 5.0]
        S:repair_kit_repair_amount=5.0
    }

    canister {
        #  [range: 1 ~ 1000, default: 100]
        I:canister_max_fuel=100
    }

}


machines {

    backmix_reactor {
        #  [range: 1 ~ 32767, default: 50]
        I:backmix_reactor_canola_usage=50

        #  [range: 100 ~ 32767, default: 10000]
        I:backmix_reactor_energy_storage=10000

        #  [range: 1 ~ 32767, default: 10]
        I:backmix_reactor_energy_usage=10

        #  [range: 1000 ~ 32767, default: 3000]
        I:backmix_reactor_fluid_storage=3000

        #  [range: 10 ~ 32767, default: 200]
        I:backmix_reactor_generating_time=200

        #  [range: 1 ~ 32767, default: 50]
        I:backmix_reactor_methanol_usage=50

        #  [range: 1 ~ 32767, default: 100]
        I:backmix_reactor_mix_generation=100
    }

    blast_furnace {
        #  [range: 1000 ~ 32767, default: 10000]
        I:blast_furnace_energy_storage=10000

        #  [range: 1 ~ 32767, default: 10]
        I:blast_furnace_energy_usage=10

        #  [range: 1 ~ 32767, default: 100]
        I:blast_furnace_fluid_generation=100

        #  [range: 1000 ~ 32767, default: 3000]
        I:blast_furnace_fluid_storage=3000

        #  [range: 10 ~ 32767, default: 200]
        I:blast_furnace_generating_time=200
    }

    oil_mill {
        #  [range: 1000 ~ 32767, default: 10000]
        I:oil_mill_energy_storage=10000

        #  [range: 1 ~ 32767, default: 10]
        I:oil_mill_energy_usage=10

        #  [range: 1 ~ 32767, default: 100]
        I:oil_mill_fluid_generation=100

        #  [range: 1000 ~ 32767, default: 3000]
        I:oil_mill_fluid_storage=3000

        #  [range: 10 ~ 32767, default: 200]
        I:oil_mill_generating_time=200
    }

    cable {
        #  [range: 64 ~ 32767, default: 256]
        I:cable_transfer_rate=256
    }

    dynamo {
        #  [range: 1 ~ 32767, default: 25]
        I:dynamo_energy_generation=25

        #  [range: 100 ~ 32767, default: 1000]
        I:dynamo_energy_storage=1000
    }

    fluid_extractor {
        #  [range: 5 ~ 32767, default: 25]
        I:fluid_extractor_drain_speed=25
    }

    fuel_station {
        #  [range: 1 ~ 32767, default: 5]
        I:fuel_station_transfer_rate=5
    }

    generator {
        #  [range: 1000 ~ 32767, default: 30000]
        I:generator_energy_storage=30000

        #  [range: 1000 ~ 32767, default: 3000]
        I:generator_fluid_storage=3000
    }

    split_tank {
        #  [range: 1 ~ 32767, default: 100]
        I:split_tank_bio_diesel_generation=100

        #  [range: 1000 ~ 32767, default: 3000]
        I:split_tank_fluid_storage=3000

        #  [range: 10 ~ 32767, default: 800]
        I:split_tank_generating_time=800

        #  [range: 1 ~ 32767, default: 10]
        I:split_tank_glycerin_generation=10

        #  [range: 1 ~ 32767, default: 100]
        I:split_tank_mix_usage=100
    }

    tank {
        # If tanks keep their fluids when broken [default: true]
        B:pick_up_tank=true
    }

}


